@import "tailwindcss";

@source './src/**/*.{astro}';

@theme {
  --font-sans: "Syne", "sans-serif";
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 5px var(--color-black);
    paint-order: stroke fill;
  }
}

/* custom css */
details > summary::-webkit-details-marker {
  display: none;
}
