---
interface BaseProps {
  size: "small" | "medium";
  class?: string;
}

interface LinkProps extends BaseProps {
  href: string;
  download?: never;
}

interface DownloadProps extends BaseProps {
  download: string;
  href?: never;
}

type Props = LinkProps | DownloadProps;

const { size, class: className, href, download } = Astro.props;

const sizeClasses = {
  small: "px-4 py-2 text-sm",
  medium: "px-6 py-3 text-base",
};
---

<a
  class:list={[
    sizeClasses[size],
    "h-min rounded-full font-bold uppercase cursor-pointer",
    className,
  ]}
  href={href || download}
  download={download}
>
  <slot />
</a>
