---
import content from "../data/content.json";
import Question from "./Question.astro";
---

<div class="my-18">
  <div class="px-6 max-w-screen-xl mx-auto">
    <h2 class="font-bold text-4xl sm:text-6xl uppercase mb-6">FAQ</h2>
    {
      content.faq.map((item) => (
        <Question question={item.question} answer={item.answer} />
      ))
    }
  </div>
</div>
