---
import FacebookIcon from "../assets/icons/facebook.svg";
import InstagramIcon from "../assets/icons/instagram.svg";
import StravaIcon from "../assets/icons/strava.svg";
import content from "../data/content.json";
---

<div class="mt-12">
  <div class="bg-neutral-100">
    <div class="px-6 py-8 max-w-screen-xl mx-auto">
      <div class="flex justify-between gap-3 items-center">
        <p class="uppercase text-xl font-medium">
          <span class="max-sm:hidden"> Suivez l’évènement avec </span>
          <span>#tntlestouches</span>
        </p>
        <div class="flex gap-3">
          <a
            href="https://www.facebook.com/lestouchesrunning/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <FacebookIcon
              class="size-8"
              aria-label="Facebook"
              aria-hidden="true"
            />
          </a>
          <a
            href="https://www.instagram.com/les_touches_running_tnt/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <InstagramIcon
              class="size-8"
              aria-label="Instagram"
              aria-hidden="true"
            />
          </a>
          <a
            href="https://www.strava.com/clubs/lestouchesrunning"
            target="_blank"
            rel="noopener noreferrer"
          >
            <StravaIcon class="size-8" aria-label="Strava" aria-hidden="true" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black">
    <div
      class="max-w-screen-xl mx-auto grid grid-cols-1 sm:grid-cols-2 py-12 pb-18 sm:py-18 px-6"
    >
      <p
        class="text-white text-4xl lg:text-6xl font-bold w-full text-left mb-6 sm:mb-0"
      >
        Trail Nocture <br class="hidden sm:block" />Touchois
      </p>
      <div class="flex justify-between gap-6 text-white">
        <div>
          <h2 class="uppercase text-2xl mb-3 font-medium">Informations</h2>
          <ul class="space-y-1 text-neutral-300">
            <li>
              <a href="/mentions-legales">Mentions légales</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="uppercase text-2xl mb-3 font-medium">Contact</h2>
          <ul class="space-y-1 text-neutral-300">
            <li>
              <a href={`mailto:${content.footer__email}`}
                >{content.footer__email}</a
              >
            </li>
            <li>
              <a href={`tel:${content.footer__phone.replaceAll(" ", "")}`}
                >{content.footer__phone}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
