---
import { Image } from "astro:assets";
import twelveImage from "../assets/imgs/twelve.png";
import twentyFourImage from "../assets/imgs/twenty-four.png";
import content from "../data/content.json";
import AnchorButton from "./AnchorButton.astro";
---

<div class="my-18">
  <div class="px-6 max-w-screen-xl mx-auto">
    <h2 class="font-bold text-4xl sm:text-6xl uppercase mb-6">Inscriptions</h2>
    <div class="grid md:grid-cols-2 my-6 gap-3 grid-cols-1">
      <div class="relative group overflow-hidden">
        <div
          class="py-24 flex flex-col justify-center items-center relative z-10"
        >
          <h3 class="font-bold text-5xl text-white">12km</h3>
          <p class="mt-1 text-white">
            {content["inscription__start_date-12km"]}
          </p>
          <AnchorButton
            class="bg-white text-black mt-6"
            size="medium"
            href={content.inscription_link}
          >
            Je m'inscris
          </AnchorButton>
        </div>
        <Image
          src={twelveImage}
          alt="Trail Nocturne Touchois 12km"
          class="bg-black absolute inset-0 object-cover size-full -z-10 transition-transform duration-500 ease-in-out group-hover:scale-110"
        />
      </div>
      <div class="relative group overflow-hidden">
        <div class="py-24 flex flex-col justify-center items-center">
          <h3 class="font-bold text-5xl text-white">24km</h3>
          <p class="mt-1 text-white">
            {content["inscription__start_date-24km"]}
          </p>
          <AnchorButton
            class="bg-white text-black mt-6"
            size="medium"
            href={content.inscription_link}>Je m'inscrit</AnchorButton
          >
        </div>
        <Image
          src={twentyFourImage}
          alt="Trail Nocturne Touchois 24km"
          class="bg-black absolute inset-0 object-cover size-full -z-10 transition-transform duration-500 ease-in-out group-hover:scale-110"
        />
      </div>
    </div>
  </div>
</div>
